<div>
	<table>
		<tr>
			<td><img src="assets/flukeLogo.png" alt="Fluke Logo" height="40px"></td>
			<td class="headInfo">FLUKE NETWORKS</td>
		</tr>
	</table>
</div>
<hr>

<mat-tab-group>
	<mat-tab label="USERS">
		<div class="tabInfo">
			Find users by selecting role
		</div>
		<user-by-role></user-by-role>
	</mat-tab>
	<mat-tab label="PROJECTS">
		<div class="tabInfo">
			Find projects by selecting organizations
		</div>
		<projects-by-org></projects-by-org>
	</mat-tab>
</mat-tab-group>